<?xml version="1.0"?>
 <launch>

    <!-- Joy Node-->
    <param name = "joy_node/dev"     value = "/dev/input/js0"/>
    <node pkg="joy" type="joy_node" name="jn"/>
    
    <!-- Joy control Carro Node-->  
    <node pkg="plataforma_mov_pkg" type="joy_car" name="joy"/>
    
    <!-- Control de motores Node-->
    <node pkg="plataforma_mov_pkg" type="motors" name="motores"/>
    

   
   

   
  </launch>
