<?xml version="1.0"?>
<launch>


<!-- Control de motores Node-->
    <node pkg="plataforma_mov_pkg" type="motors" name="motores"/>
    
    
    <!--Node lectura encoders-->
    <node pkg="plataforma_mov_pkg" type="encoder" name="encoders" output="screen"/>
    
    <!--Node de enlace-->
    <node name="link" pkg="plataforma_mov_pkg" type="link" />


  
 <node name="control_I" pkg="pid" type="controller"  ns="left">
      <param name="Kp" value="0.16993" />
      <param name="Ki" value="2.2401" />
      <param name="Kd" value="0.0024588" />
      <param name="upper_limit" value="18.6" />
      <param name="lower_limit" value="-18.6" />
      <param name="windup_limit" value="50" />
      <param name="cutoff_frequency" value="1/8" />
      <param name="max_loop_frequency" value="100.0" />
      <param name="min_loop_frequency" value="100.0" />
    </node>
    
    
    <node name="control_D" pkg="pid" type="controller"  ns="rigth">
      <param name="Kp" value="0.15686" />
      <param name="Ki" value="1.9136" />
      <param name="Kd" value="0.0019715" />
      <param name="upper_limit" value="18.6" />
      <param name="lower_limit" value="-18.6" />
      <param name="windup_limit" value="50" />
      <param name="cutoff_frequency" value="1/8" />
      <param name="max_loop_frequency" value="100.0" />
      <param name="min_loop_frequency" value="100.0" />
    </node>
    
    <node pkg="magnetometer" name="magnetometer" type="ROS_magnetometer_node.py"> </node>
    
    <node pkg="ultrasonic_py" name="ultrasonics" type="ultrasonics.py"  output="screen" required="true"> 
    </node>
    
    
    <node name="pose_kinematics" pkg="plataforma_mov_pkg" type="pose_kinematics" output="screen"/>
    
    

</launch>
