<?xml version="1.0"?>
<launch>


<!-- Control de motores Node-->
    <node pkg="plataforma_mov_pkg" type="motors" name="motores"/>
    
    
    <!--Node lectura encoders-->
    <node pkg="plataforma_mov_pkg" type="encoder" name="encoders" output="screen"/>
    
    <!--Node de enlace PID-->
    <node name="link" pkg="plataforma_mov_pkg" type="link" />


  <!--Node de PID-->
 <node name="control_I" pkg="pid" type="controller"  ns="left">
      <param name="Kp" value="0.16993" />
      <param name="Ki" value="2.2401" />
      <param name="Kd" value="0.0024588" />
      <param name="upper_limit" value="18.6" />
      <param name="lower_limit" value="0" />
      <param name="windup_limit" value="50" />
      <param name="cutoff_frequency" value="1/8" />
      <param name="max_loop_frequency" value="100.0" />
      <param name="min_loop_frequency" value="100.0" />
    </node>
    
    
    <node name="control_D" pkg="pid" type="controller"  ns="rigth">
      <param name="Kp" value="0.15686" />
      <param name="Ki" value="1.9136" />
      <param name="Kd" value="0.0019715" />
      <param name="upper_limit" value="18.6" />
      <param name="lower_limit" value="0" />
      <param name="windup_limit" value="50" />
      <param name="cutoff_frequency" value="1/8" />
      <param name="max_loop_frequency" value="100.0" />
      <param name="min_loop_frequency" value="100.0" />
    </node>
    
    
     <!--Node para de mpu-->
    
  <param name = "acceleration_x_m"     value = "-0.9838904164684757"/>
  <param name = "acceleration_y_m"     value = "-0.98162129827053"/>
  <param name = "acceleration_z_m"     value = "-0.9636070642655911"/>

  <param name = "acceleration_x_b"     value = "-0.0010117117044968625"/>
  <param name = "acceleration_y_b"     value = "-0.0010117117044968625"/>
  <param name = "acceleration_z_b"     value = "0.019967832698405238"/>


  <param name = "gyro_x_offset"     value = "-2.4516641221374047"/>
  <param name = "gyro_y_offset"     value = "0.6235267175572519"/>
  <param name = "gyro_z_offset"     value = "-0.06480916030534348"/>

  <node name="mpu_node" pkg="mpu6050" type="imu_node" output="screen"/>
  
  <!--Node de enlace estimacion de poses-->
    <node name="vel_sp" pkg="plataforma_mov_pkg" type="vel_setpoint" />

  
   <!--Node para estimacion de poses-->
    
    
    <node name="pose_kinematics" pkg="plataforma_mov_pkg" type="pose_kinematics" output="screen"/>
    
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
    <rosparam command="load" file="$(find robot_localization)/params/ekf_templatev2.yaml" />
      </node> 
    
    <!--Node para para poner los -->
   <node name="control" pkg="plataforma_mov_pkg" type="pos_control" output="screen">
   <param name="x_setpoint" value="1" />
   <param name="y_setpoint" value="0.5" />
   <param name="kv" value="0.2" />
   <param name="kw" value="0.3" />
    </node>
    
 
    
    

</launch>
